---
import SlideLayout from "../../../layouts/SlideLayout.astro";
import codeFetcher from "../../../js/codeFetcher";
import Code from "../../../components/Code.astro";
import Explainer from "../../../components/Explainer.svelte";
import AgendaSection from "../../../components/AgendaSection.astro";
import Goal from "../../../components/Goal.astro";
const snippets = await codeFetcher("t7/6.conditionally-showing-data", []);
---

<SlideLayout title="Introduction">
  <section>
    <h2>Introduction</h2>
    <h3>Forms</h3>
    <p>jofh@kea.dk</p>
  </section>

  <section>
    <h2>Things we need to clear up NOW</h2>
    <ol>
      <li class="fragment">Duplicate content?</li>
      <li class="fragment">Missing content?</li>
    </ol>
  </section>
  <section>
    <ol start="2">
      <li>
        Guest speakers:
        <ul>
          <li>
            Last semester
            <ul>
              <li class="fragment">
                Mindaugas Jukna - 30/3 - <span class="highlight-specialty"
                  >Pentia</span
                >
              </li>
              <li class="fragment">
                Mads Brodt - 11/4 - <span class="highlight-specialty"
                  >Dwarf</span
                >
              </li>

              <li class="fragment">
                Sylvain George Goupil - 20/4 - <span class="highlight-specialty"
                  >figures.hr</span
                >
              </li>
              <li class="fragment">
                Mathias Dahl Jensen - ??/4 - <span class="highlight-specialty"
                  >Forte Advice</span
                >
              </li>
              <li class="fragment">
                Daniel Plejdrup - ??/4 - <span class="highlight-specialty"
                  >Charlie Tango</span
                >
              </li>
              <li class="fragment">
                Lucas Zago - 11/5 - <span class="highlight-specialty"
                  >Signifly</span
                >
              </li>
              <li class="fragment">
                Rebecca Mortensen - 16/5 - <span class="highlight-specialty"
                  >Can't remember</span
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
  </section>
  <section>
    <h2>Anything you want?</h2>
    <p>Things being planned</p>
    <ul>
      <li>Pentia</li>
      <li>Forte Advice * 2</li>
      <li>Charlie Tango / Pentia / WebDev</li>
      <li>Matas</li>
    </ul>
  </section>
  <section>
    <h2>Changes to the schedule</h2>
    <p>Pay attention to Teams</p>
    <p>UMS?</p>
  </section>
  <section>
    <h1>Ask us anything</h1>
  </section>
  <section>
    <h3>The numbers</h3>
    <ul>
      <li>2 + 1 teachers</li>
      <li>2 + 4 weeks</li>
    </ul>
    <p>
      <a
        href="https://kea-fronter.itslearning.com/ContentArea/ContentArea.aspx?LocationID=6161&LocationType=1"
        >The schedule</a
      >
    </p>
    <ul class="fragment">
      <li>"Front-load"</li>
    </ul>
  </section>
  <section>
    <h2>What is modern web development?</h2>
    <p class="fragment">
      let's play <span class="fragment">bullshit</span>
      <span class="fragment">bingo</span>
    </p>
    <p><a href="https://app.mindmup.com/">https://app.mindmup.com/</a></p>
  </section>
  <section>
    <h3>The content</h3>
    <ul>
      <li>Forms</li>
      <li>Databases</li>
      <li>"WebDev Technology"</li>
      <li>UX</li>
      <li>"DX"</li>
      <li>React</li>
      <li>The case</li>
    </ul>
  </section>
  <section>
    <h3>Goal for the exam project</h3>
    <h4>It must:</h4>
    <ul>
      <li>"look good" <span class="fragment highlight-blue">UI</span></li>
      <li>"feel good" <span class="fragment highlight-blue">UX</span></li>
      <li>work <span class="fragment highlight-blue">DEV</span></li>
    </ul>
  </section>
</SlideLayout>
