---
import SlideLayout from "../../../layouts/SlideLayout.astro";
import codeFetcher from "../../../js/codeFetcher";
import Code from "../../../components/Code.astro";
import AgendaSection from "../../../components/AgendaSection.astro";
import Goal from "../../../components/Goal.astro";

const snippets = await codeFetcher("t7/9.status", []);
---

<SlideLayout title="Status">
  <section>
    <h1>Status</h1>
    <h3>jofh@kea.dk</h3>
  </section>
  <section>
    <Goal>
      <ol>
        <li>Experiment with fetch, objects, templates and arrays</li>
      </ol>
    </Goal>
  </section>

  <AgendaSection header="Exercise" p={'Fronter: "Mig som superhelt"'} />
  <AgendaSection header="Exercise" p={'Fronter: "Superhelte listen"'}>
    <section>
      <h2>Bonus exercise</h2>
      <p>Aren't you lucky</p>
      <ul>
        <li>If you've been using GitHub, we can turn on GitHub pages!</li>
        <li>Push to depåloy (put your site live)</li>
        <li>(Note to self, record this)</li>
      </ul>
    </section>
  </AgendaSection>
  <AgendaSection header="Introduktion til API'et">
    <section>
      <p>
        <a href="https://kea-alt-del.dk/t7/api/"
          >https://kea-alt-del.dk/t7/api/</a
        >
      </p>
    </section>
  </AgendaSection>
  <AgendaSection
    header="Exercise"
    p={'Fronter: "Lav productlist.html, version 1"'}
  />
</SlideLayout>
