---
import SlideLayout from "../../../layouts/SlideLayout.astro";
import codeFetcher from "../../../js/codeFetcher";
import Code from "../../../components/Code.astro";
import AgendaSection from "../../../components/AgendaSection.astro";
import Goal from "../../../components/Goal.astro";

//TODO: lots of files not needed
const snippets = await codeFetcher("t7/7.templates-and-arrays", [
  "template.html",
  "template_content.js",
  "textcontent-innerhtml.js",
  "objects-templates.html",
  "objects-templates.js",
  "arrays-intro.js",
  "array-objects.js",
  "arrays-zero-index.js",
  "arrays-foreach.js",
  "arrays-foreach2.js",
  "array-foreach-template.js",
]);
---

<SlideLayout title="Templates, arrays, forEach">
  <section>
    <h1>Templates, Arrays &amp; forEach</h1>
    <h3>jofh@kea.dk</h3>
  </section>
  <section>
    <Goal>
      <ol>
        <li>Know what arrays are</li>
        <li>Experience playing with arrays</li>
      </ol>
    </Goal>
  </section>

  <section>
    <section>
      <h1><code>arrays</code> &amp; <code>forEach</code></h1>
    </section>
    <section>
      <p>
        An array is a special variable, which can hold more than one value at a
        time.
      </p>
    </section>
    <section>
      <h4>Declaring arrays</h4>
      <Code code={snippets["arrays-intro.js"]} />
    </section>
    <section>
      <h4>Declaring arrays, advanced</h4>
      <Code code={snippets["array-objects.js"]} />
    </section>
    <section>
      <h4>Using arrays</h4>
      <p>We access arrays using a "zero based index"</p>
      <Code code={snippets["arrays-zero-index.js"]} />
    </section>

    <section>
      <h4>Using arrays</h4>
      <p>or by "looping" through them one at a time</p>
      <Code code={snippets["arrays-foreach.js"]} />
    </section>

    <section>
      <p>
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach"
          >developer.mozilla.org/.../Array/forEach</a
        >
      </p>
      <p>Other syntaxes exists</p>
    </section>

    <section>
      <p>What if it was an array of objects?</p>
      <p>Easy, peasy</p>
      <Code code={snippets["arrays-foreach2.js"]} stretch />
    </section>
  </section>

  <AgendaSection header="Arrays, Objects & the <code>template</code>">
    <section>
      <p>We have all the pieces</p>
      <ol>
        <li>Create a template</li>
        <li>Loop through the data</li>
        <li>
          <code>forEach</code> item in the data:
          <ol>
            <li>Grab the template</li>
            <li>clone the template</li>
            <li>change some content</li>
            <li>grap the parent</li>
            <li>append the clone</li>
          </ol>
        </li>
      </ol>
    </section>
    <section>
      <Code code={snippets["array-foreach-template.js"]} stretch />
    </section>
    <section>
      <p>We now go live to our man in the field</p>
    </section>
  </AgendaSection>
</SlideLayout>
