---
import File from "../components/File.astro";
import AnnotatedArrow from "../components/AnnotatedArrow.astro";
import AgendaSection from "../../../../components/AgendaSection.astro";
---

<AgendaSection header="Introduction">
  <section data-auto-animate>
    <h2>Welcome to Gitfographic&lt;3</h2>
    <p>
      This little project is meant to help you get up and running in the crazy
      world of Git.
    </p>
    <p>
      It is not meant to teach you how to actually do all the Git stuff, but
      rather:
    </p>
    <ul>
      <li>give you an introduction to what it is</li>
      <li>why we use it</li>
      <li>a vocabulary to make learning it easier</li>
    </ul>
  </section>
</AgendaSection>
