---
import SlideLayout from "../../../layouts/SlideLayout.astro";
import codeFetcher from "../../../js/codeFetcher";
import Code from "../../../components/Code.astro";
import Explainer from "../../../components/Explainer.svelte";
import AgendaSection from "../../../components/AgendaSection.astro";
import Goal from "../../../components/Goal.astro";

const snippets = await codeFetcher("t8/3.recap", []);
---

<SlideLayout title="Astro - Re-Cap">
  <AgendaSection header="Astro - Re-Cap">
    <Goal>
      <ol>
        <li>A Re Cap of Astro?</li>
      </ol>
    </Goal>

    <section>
      <h2>Agenda</h2>
      <ol>
        <li>Dates</li>
        <li>Resources</li>
        <li>What is Astro</li>
        <li>Tools Needed</li>
        <li>A Sample Project?</li>
        <li>Coaching</li>
        <li>???</li>
      </ol>
    </section>
  </AgendaSection>

  <AgendaSection header="Dates">
    <section>
      <p>Because Fronter is confusing</p>
      <p class="fragment">Is it?</p>
      <ol>
        <li>1/3</li>
        <li>2/3</li>
        <li>3/3</li>
        <li>14/3</li>
        <li>15/3</li>
        <li>16/3</li>
      </ol>
    </section>
  </AgendaSection>

  <AgendaSection header="Resources">
    <section>
      <ul>
        <li><a href="https://astro.build">https://astro.build</a></li>
        <li>
          <a
            href="https://www.youtube.com/playlist?list=PLCx1FpZ4Dtb3_siiU1YtaIKJmZEzu8lje"
            >Astro playlist</a
          >
        </li>
        <li>
          <a
            href="https://www.youtube.com/playlist?list=PLCx1FpZ4Dtb10T6cClBrq7jHky5HmVots"
            >Supabase Playlist</a
          >
        </li>
      </ul>
    </section>
  </AgendaSection>

  <AgendaSection header="What is Astro">
    <section>
      <ol>
        <li>Framework</li>
        <li>Components</li>
        <li>DX</li>
        <li>UX</li>
        <li>Spytter ren HTML og CSS ud</li>
      </ol>
    </section>
  </AgendaSection>

  <AgendaSection header="Tools needed">
    <section>
      <ol>
        <li>VS Code</li>
        <li>Astro Plugin</li>
        <li>Installeret NodeJS</li>
      </ol>
    </section>
  </AgendaSection>
  <AgendaSection header="A sample project?" />
</SlideLayout>

<!--

  <Code
        code={snippets["First.astro"]}
        language="js"
        startFrom="1"
        lineNumbers="1-2|1-5|7|9-11|13-15"
        stretch
      />
 -->
