---
import OverviewLayout from "../../layouts/OverviewLayout.astro";
---

<OverviewLayout title="T8">
  <h2>Slides</h2>
  <ol>
    <li><a href="/t8/1.intro-astro">Introduktion til Astro</a></li>
    <li><a href="/t8/2.data">Data fetching in Astro</a></li>
    <li><a href="/t8/3.recap">Astro Re-Cap</a></li>
    <li><a href="/t8/4.routes">Routes in Astro</a></li>
  </ol>
  <p>&nbsp;</p>
  <hr />
  <p>&nbsp;</p>
  <h2>Links</h2>
  <p>
    <a
      href="https://www.youtube.com/playlist?list=PLCx1FpZ4Dtb3_siiU1YtaIKJmZEzu8lje"
      >Astro Playliste</a
    >
  </p>
  <p>
    <a
      href="https://www.youtube.com/playlist?list=PLCx1FpZ4Dtb10T6cClBrq7jHky5HmVots"
      >Supabase Playliste</a
    >
  </p>
  <p>
    <a
      href="https://www.youtube.com/playlist?list=PLCx1FpZ4Dtb3YRa97DeuZIjG0fKeQmWNo"
      >Hold B's Playliste</a
    >
  </p>
</OverviewLayout>
