---
---

<header>
  <h3 class="reversed"><slot /></h3>
</header>

<style>
  header {
    background: var(--r-selection-color);
  }
  h3.reversed {
    color: var(--r-selection-background-color);
  }
</style>
