<h3>Brug af de her slides</h3>
<dl>
  <dt><kbd>esc</kbd></dt><dd>få et overblik</dd>
  <dt><kbd>esc / klik</kbd></dt><dd>Vælg et slide fra overblikket</dd>
  <dt><kbd>⬆️ ➡️ ⬇️ ⬅️ / swipe</kbd></dt><dd>ryk tilbage, fremad, op, ned</dd>
  <dt><kbd>space</kbd></dt><dd>gå til næste slide</dd>
</dl>
