---
import First from "../components/First.astro";
const name = "Astro";
---

<main>
  <First prop1={name} prop2="Hi" />
  <First prop1={name} prop2="Hi" />
  <First prop1={name} prop2="Hi" />
  <First prop1={name} prop2="Hi" />
</main>
